html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 100%;
  font-family: "Open Sans", sans-serif;

  background: var(--black);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
:root {
  --white: #ffffff;
  --light-grey: #f8f8f8;
  --middle-grey: #4d4d4d;
  --dark-grey: #262626;
}
.btn {
  padding: 1rem 2.5rem;
  width: 12rem;
  text-align: center;
  font-size: 1rem;
}

/* navigation */

@media (min-width: 699px) {
  .navigation-bar__mobile-menu {
    display: none;
  }
}

.navigation {
  background: var(--light-grey);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
}
.navigation-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  z-index: 1;
}
.navigation-bar__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navigation-bar__text-item {
  padding: 1.3rem 0.6rem;
  color: var(--dark-grey);
  font-size: 1vw;
  font-weight: 100;
}
.navigation-bar__text-item:hover {
  color: #245e80;
}

.navigation-bar__logo img {
  width: 100%;
  position: absolute;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.navigation-bar__graphic-item a {
  color: var(--dark-grey);
  padding: 0.8rem;
  font-size: 0.6rem;
}
.navigation-bar__graphic-item i {
  padding: 0.8rem;
  font-size: 1vw;
}
.globe {
  border-left: 1px solid var(--middle-grey);
}
.navigation-bar__logo {
  position: relative;
  top: 0;
  right: 0;
  width: 6rem;
  margin-top: 0.5rem;
}
.navigation-bar__mobile-menu a {
  color: var(--white);
}
@media (max-width: 700px) {
  .navigation-bar__items {
    display: none;
  }
  .navigation {
    background: none;
  }
  .intro {
    margin-top: -2rem;
  }
}

/* intro */
.intro-video {
  position: relative;
}
.intro-video video {
  width: 100%;
}
.intro-video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  transition: all 1s ease-in-out;
}

.intro-video a {
  position: relative;
}
.text-item {
  position: absolute;
  top: 25vw;
  left: 7vw;
  color: var(--white);
}

.subline {
  font-size: 2vw;
  font-weight: lighter;
  margin-bottom: 0;
}
.headline {
  font-size: 4vw;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

.btn_light {
  border: 4px solid var(--white);
}
.btn_light:hover {
  color: var(--dark-grey);
  background: var(--white);
}
.btn_dark:hover {
  color: var(--white);
  background: var(--middle-grey);
}

/* suggestions */
.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template: 1fr;
}
.suggestions-image_left img {
  width: 100%;
}
.suggestions-image_right img {
  width: 100%;
}
.suggestions-image_left {
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.suggestions-image_left img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  transition: all 1s ease-in-out;
}
.suggestions-image_right {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.text-suggestions {
  position: absolute;
  top: 25vw;
  left: 5vw;
  color: var(--white);
}
.text-suggestions h2 {
  font-size: 2.5vw;
  font-weight: lighter;
}
.text-suggestions h3 {
  font-size: 1.5vw;
  font-weight: lighter;
}
.text-suggestions .subline.dark,
.headline.dark,
.btn_dark {
  color: var(--dark-grey);
}
.btn_dark {
  border: 4px solid var(--middle-grey);
}
